html {
      line-height: 1.5;
      font-family: Georgia, serif;
      font-size: 15px;
	}


body {
	color: white;
	background: black;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2 {
	color: green;
	text-align: center;
}
